.alt-header {
  margin: var(--horizontal-space);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__title {
  font-weight: 600;
  font-size: 28px;
}

.alt-header span:last-child {
  margin-left: 20px;
}
